
header {
    height: 50px;
    max-width: 1200px;
    display: grid;
    margin: auto;
    justify-items: end;
}

header .header-item {
    align-self: end;
    justify-self: end;
}

header .header-item label {
    font-weight: bold;
    font-size: 1.3rem;
}
