:root {
    --font-color: #28357b;
    --body-background: #ffffff;
    --error-color-border: #ff0000;
}

body {
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}

.dark,
.light {
    color: var(--font-color);
    background-color: var(--body-background);
}

.error {
    border: 1px solid var(--error-color-border);
}
