:root {
    --error-color-border: #ff0000;
    --font-color-default: #28357b;

    --body-background: #e0e0e0;
    --body-font-color: var(--font-color-default);

    --todo-font-color: var(--font-color-default);
}

body {
    width: 100%;
    color: var(--body-font-color);
    background-color: var(--body-background);
}
