:root {
    --error-color-border: #ff0000;
    --font-color-default: #28357b;

    --body-background: #ffffff;
    --body-font-color: var(--font-color-default);

    --todo-font-color: var(--font-color-default);
}

body {
    width: 100%;
    color: var(--body-font-color);
    background-color: var(--body-background);
}

.error {
    border: 1px solid var(--error-color-border);
}
